<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=59.106.219.138;Initial Catalog=ORS;Persist Security Info=True;User ID=sa;Password=capital12345k!;Connection Timeout=60000" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key ="ConsoleWriteLinePath" value="C:\ConsoleWriteLineTofile\"/>
    <add key="ExportCSVPath" value="D:\ORS_Data\ORS_RCM_Git_New\ORS_RCM\Capital_SKS\Export_CSV\Rakuten\"/>
    <add key="BakExportCSVPath" value="D:\ORS_Data\ORS_RCM_Git_New\ORS_RCM\Capital_SKS\Bak_Export_CSV\Rakuten\"/>
    <add key="ItemImage" value="D:\ORS_Data\ORS_RCM_Git_New\ORS_RCM\Capital_SKS\Item_Image\"/>
  </appSettings>
</configuration>