<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=WIN-OBNBRBOKCI9;Initial Catalog=ORS_RCM;Persist Security Info=True;User ID=sa;Password=capital12345k!;Connection Timeout=0" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--<add key="HostName" value="smtp.gmail.com"/>
    <add key="UserName" value="capitalmailtest@gmail.com"/>
    <add key="Password" value="chitthu199"/>-->
    <add key="HostName" value="mail.capitalk-mm.com"/>
    <add key="UserName" value="ors_order@capitalk-mm.com"/>
    <add key="Password" value="ors!order!ckm"/>
    <add key="DelCount" value="100"/>
    <add key="startIndex" value="10"/>
  </appSettings>
</configuration>