<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=TESTSERVER\SQLEXPRESS;Initial Catalog=ORS_RCM;Persist Security Info=True;User ID=sa;Password=12345;Connection Timeout=60000" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="PromotionFilePathR" value="C:\My Data\Projects\Capital_SKS\Capital_SKS\Export_Promotion_CSV\Rakuten\"/>
    <add key="PromotionFilePathY" value="C:\My Data\Projects\Capital_SKS\Capital_SKS\Export_Promotion_CSV\Yahoo\"/>
    <add key="PromotionFilePathP" value="C:\My Data\Projects\Capital_SKS\Capital_SKS\Export_Promotion_CSV\Ponpare\"/>
    <add key="PromotionFilePathJ" value="C:\My Data\Projects\Capital_SKS\Capital_SKS\Export_Promotion_CSV\Jisha\"/>
    <add key="PromotionFilePath" value="C:\My Data\Projects\Capital_SKS\Capital_SKS\Export_Promotion_CSV\"/>
    <add key="ItemFilePath" value="C:\My Data\Projects\Capital_SKS\Capital_SKS\Export_CSV\" />
    <add key="ExtractFilePath" value="C:\Item_Image_Rakutan\"/>
    <add key ="ConsoleWriteLinePath" value="C:\ConsoleWriteLineTofile\"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>