<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=TESTSERVER\SQLEXPRESS;Initial Catalog=ORS_RCM;Persist Security Info=True;User ID=sa;Password=capital12345k!;Connection Timeout=0" providerName="System.Data.SqlClient" />

  </connectionStrings>
  <appSettings>
    <add key="localFilePath" value="C:\MyData\FTP\LocalUser\Test\"/>
    <add key="NGPath" value="C:\MyData\FTP\LocalUser\Test\NG\"/>

  </appSettings>
</configuration>