<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=59.106.219.138;Initial Catalog=ORS;Persist Security Info=True;User ID=sa;Password=capital12345k!;Connection Timeout=60000" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--<add key="ExportInventoryCSVPath" value="C:\My Data\devserverproject\Capital_SKS\Capital_SKS\Export_Inventory_CSV\"/>
    <add key="BakExportInventoryCSVPath" value="C:\My Data\devserverproject\Capital_SKS\Capital_SKS\Bak_Export_Inventory_CSV\"/>-->
    <!--<add key="ExportInventoryCSVPath" value="C:\MyData\Projects\Capital_SKS\Capital_SKS\Capital_SKS\Export_Inventory_CSV\"/>
    <add key="BakExportInventoryCSVPath" value="C:\MyData\Projects\Capital_SKS\Capital_SKS\Capital_SKS\Bak_Export_Inventory_CSV\"/>-->
    <add key ="ConsoleWriteLinePath" value="C:\ConsoleWriteLineTofile\"/>
    <add key="WowmaAPIKey" value="b58c8574d350ba387c6c1741c9506b2164fc7b1ed3971aed2ea88c970ce8095d"/>
    <add key="WowmaShopID" value="58726125"/>
  </appSettings>
</configuration>