<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=TESTSERVER\SQLEXPRESS;Initial Catalog=TestDB;Persist Security Info=True;User ID=sa;Password=12345;Connection Timeout=60000" providerName="System.Data.SqlClient" />
    </connectionStrings>
<appSettings>
    <add key="HostName" value="mail.capitalk-mm.com"/>
    <add key="UserName" value="ors_order@capitalk-mm.com"/>
    <add key="Password" value="ors!order!ckm"/>
    <add key="ReadCount" value="3"/>
</appSettings>
</configuration>