<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=DEVSERVER\SQLEXPRESS;Initial Catalog=ORS_RCM;Persist Security Info=True;User ID=sa;Password=12345;Connection Timeout=60000" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ExportCSVPath" value="C:\MyData\Projects\ORS_RCM\Capital_SKS\Export_CSV\Yahoo\"/>
    <add key="BakExportCSVPath" value="C:\MyData\Projects\ORS_RCM\Capital_SKS\Bak_Export_CSV\Yahoo\"/>
    <add key="ItemImage" value="C:\MyData\Projects\ORS_RCM\Capital_SKS\Item_Image\"/>
    <add key ="ImagePath" value="C:\MyData\Projects\ORS_RCM\Capital_SKS\Export_CSV\Yahoo\Image"/>
    <add key ="LibraryPath" value="C:\MyData\Projects\ORS_RCM\Capital_SKS\Export_CSV\Yahoo\LibImage\"/>
    <add key ="SKUPath" value="C:\MyData\Projects\ORS_RCM\Capital_SKS\Export_CSV\Yahoo\item_img\"/>
    <add key ="ConsoleWriteLinePath" value="C:\ConsoleWriteLineTofile\"/>
  </appSettings>
</configuration>