<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=TESTSERVER\SQLEXPRESS;Initial Catalog=ORS_RCM;Persist Security Info=True;User ID=sa;Password=12345;Connection Timeout=60000" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="ExportCSVPath" value="C:/My Data/Projects/Capital_SKS/Capital_SKS/Export_Promotion_CSV/Rakuten/"/>
    <add key="localFilePath" value="C:/My Data/Projects/Capital_SKS/Capital_SKS/Promotion_Attachment/"/>
    <add key="ExportCSVBackupPath" value="C:/My Data/Projects/Capital_SKS/Capital_SKS/Backup_Export_Promotion_CSV/Rakuten/"/>

  </appSettings>
</configuration>