<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Get_Yahoo_Refresh_Token.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Get_Yahoo_Refresh_Token.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <applicationSettings>
    <Get_Yahoo_Refresh_Token.Properties.Settings>
      <setting name="AppID" serializeAs="String">
        <value>dj0zaiZpPTExMlRwV0Iwd1k5MCZzPWNvbnN1bWVyc2VjcmV0Jng9MGY-</value>
      </setting>
      <setting name="SecretKey" serializeAs="String">
        <value>d42f2806ba5bf7f36a94214f0ccd1c12e126f364</value>
      </setting>
    </Get_Yahoo_Refresh_Token.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <Get_Yahoo_Refresh_Token.Properties.Settings>
      <setting name="Code" serializeAs="String">
        <value />
      </setting>
      <setting name="AccessToken" serializeAs="String">
        <value />
      </setting>
      <setting name="RefreshToken" serializeAs="String">
        <value />
      </setting>
    </Get_Yahoo_Refresh_Token.Properties.Settings>
  </userSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=59.106.219.138;Initial Catalog=ORS;Persist Security Info=True;User ID=sa;Password=capital12345k!;Connection Timeout=0" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>