<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=59.106.219.138;Initial Catalog=ORS;Persist Security Info=True;User ID=sa;Password=capital12345k!;Connection Timeout=60000" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>